.navbar {
  width: 100%;
  display: flex;
  list-style-type: none;
}

.container-logo {
  width: 150px;
  display: flex;
  align-items: center;
}

.navbar__btn {
  color: white !important;
}

a {
  color: white;
  text-decoration: none;
}
